<% layout('layouts/boilerplate')%>

<form action="/meatuphums" method="POST" class="addnew" enctype="multipart/form-data">
    <h1>Add New Food</h1>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" title="title" id="title" name="meatuphum[title]" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea type="text" id="description" name="meatuphum[description]" class="form-control" required></textarea>
    </div>

    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-price">
            <span class="input-price-text" id="price-label">$</span>
            <input type="number" price="price" id="price" name="meatuphum[price]" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label">
        </div>
    </div>

    <input type="file" name="images" id="images" class="form-control" required multiple>

    <!-- <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" image="image" id="image" name="meatuphum[image]" class="form-control" required multiple>
    </div> -->

    <div>
        <button type="submit" class="btn">Submit</button>
    </div>

    <div class="mb-5 mt-4">
        <a href="/meatuphums" class="back">Back</a>
    </div>
</form>
