
<header class="header">
    <a href="#" class="logo"><i>Khmer<b>Food</b></i></a>
    <nav class="navbar">
        <a href="/home">Home</a>
        <a href="/KhmerFood/views/Video.html">Video</a>
        <a href="/tbalkhmers">Tbalkhmer</a>
        <a href="/meatuphums">Meatuphum</a>
    </nav>
    
        <div class="sidebar">
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="count"></div>
            
            <% if(!currentUser) {%>
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Sign Up</a>
            <% } else {%>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>
        </div>
        

        <!-- <div class="shopping-cart">
            <div class="total">total:<span id="totalPrice"></span></div>
            <button class="btn">checkout</button>
        </div> -->
</header>