
<header class="header">
    <a href="#" class="logo"><i>Khmer<b>Food</b></i></a>
    <nav class="navbar" id="menuPopup">
        <a href="/home" id="active">Home</a>
        <a href="/videos" id="active">Video</a>
        <a href="/tbalkhmers" id="active">Tbalkhmer</a>
        <a href="/meatuphums" id="active">Meatuphum</a>
        <a href="/khmerfoods" id="active">Khmerfood</a>
    </nav>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16" id="menuButton">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
        <div class="sidebar">
              
            <% if(!currentUser) {%>
            <a class="nav-link" id="active" href="/login">Login</a>
            <a class="nav-link" id="active" href="/register">Sign Up</a>
            <% } else {%>
              <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart d-flex" id="cart" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg></a>
            <a class="nav-link" id="active" href="/logout">Logout</a>
            <% } %>
        </div>
</header>

<!-- <div id="orderForm" class="popup-form">
  <div>
    <h3>Your Picked</h3>
  </div>
  <div>
    <p>Cart is empty!</p>
  </div>
  <div class="total">Total:<span id="totalPrice"></span></div>
  <button class="btn">checkout</button>

  
</div> -->
<div class="order">
  <div  class="popup-form">
    <div class="order-header">
      <div class="card-title">
       Your Picked
      </div>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true" id="btn-close">&times;</span>
      </button>
    </div>

    <div class="order-wrapper">
      <!-- <div class="order-list">
        <img src="../assets/images/food-3.png" alt="" width="50px">
        <div class="title">dddgdg</div>
        <span class="price">100</span>
        <div class="qty">
          <span class="qty">1</span>
          <span class="x">x</span>
          <span class="x">2</span>
        </div>
        <div class="delete">Delete</div>
      </div>
      <div class="order-list">
        <img src="../assets/images/food-3.png" alt="" width="50px">
        <div class="title">dddgdg</div>
        <span class="price">100</span>
        <div class="qty">
          <span class="qty">1</span>
          <span class="x">x</span>
          <span class="x">2</span>
        </div>
        <div class="delete">Delete</div>
      </div>
      <div class="order-list">
        <img src="../assets/images/food-3.png" alt="" width="50px">
        <div class="title">dddgdg</div>
        <span class="price">100</span>
        <div class="qty">
          <span class="qty">1</span>
          <span class="x">x</span>
          <span class="x">2</span>
        </div>
        <div class="delete">Delete</div>
      </div>
      <div class="order-list">
        <img src="../assets/images/food-3.png" alt="" width="50px">
        <div class="title">dddgdg</div>
        <span class="price">100</span>
        <div class="qty">
          <span class="qty">1</span>
          <span class="x">x</span>
          <span class="x">2</span>
        </div>
        <div class="delete">Delete</div>
      </div>
      <div class="order-list">
        <img src="../assets/images/food-3.png" alt="" width="50px">
        <div class="title">dddgdg</div>
        <span class="price">100</span>
        <div class="qty">
          <span class="qty">1</span>
          <span class="x">x</span>
          <span class="x">2</span>
        </div>
        <div class="delete">Delete</div>
      </div>
      <div class="order-list">
        <img src="../assets/images/food-3.png" alt="" width="50px">
        <div class="title">dddgdg</div>
        <span class="price">100</span>
        <div class="qty">
          <span class="qty">1</span>
          <span class="x">x</span>
          <span class="x">2</span>
        </div>
        <div class="delete">Delete</div>
      </div>
      <div class="order-list">
        <img src="../assets/images/food-3.png" alt="" width="50px">
        <div class="title">dddgdg</div>
        <span class="price">100</span>
        <div class="qty">
          <span class="qty">1</span>
          <span class="x">x</span>
          <span class="x">2</span>
        </div>
        <div class="delete">Delete</div>
      </div> -->
    </div>
    <div class="order-bottom">
      <div class="total">
        <div class="total-left">Total</div>
        <div class="total-right">90$</div>
      </div>
      <button class="btn-checkout">checkout</button>
    </div>
  </div>
</div>
<script >

  //add to cart

  




document.getElementById('menuButton').addEventListener('click', function() {
  var menuPopup = document.getElementById('menuPopup');
  if (menuPopup.style.display === 'block' || menuPopup.style.display === '') {
    menuPopup.style.display = 'none';
  } else {
    menuPopup.style.display = 'block';
  }
});

// Close the menu when user clicks outside of it
// window.addEventListener('click', function(event) {
//   var menuPopup = document.getElementById('menuPopup');
//   var menuButton = document.getElementById('menuButton');
//   if (event.target !== menuButton && event.target !== menuPopup) {
//     menuPopup.style.display = 'none';
//   }
// });


// Active route
var currentLocation = window.location.href;
var menuItem = document.querySelectorAll('a');
var menuLength = menuItem.length;
for (var i = 0; i < menuLength; i++) {
  if (menuItem[i].href === currentLocation) {
    menuItem[i].className = "active";
  }
}


// // Search

// var searchBtn = document.getElementById('search-btn');
// var searchBar = document.querySelector('.search-data');
// var searchInput = document.querySelector('input');

// searchBtn.addEventListener('click', function() {
//   searchBtn.classList.toggle('fa-times');
//   searchBar.classList.toggle('active');
// });

// searchInput.addEventListener('keyup', function(e) {
//   if (e.keyCode === 13) {
//     var searchValue = searchInput.value;
//     console.log(searchValue);
//     window.location.href = '/search?search=' + searchValue;
//   }
// });






</script>