<%layout('layouts/boilerplate')%>
<section class="restuarants" id="restuarants">
    <h1 class="heading">Our <span>Restaurants</span></h1>
</section>
<div class="rest w-80">
    <div class="image">
        <img src="/assets/images/Tbalkhmer.jpg" alt="">
        <p><a class="shop_title" href="tbalkhmers">Tbal khmer</a></p> 
    </div>
    <div class="image">
        <img src="/assets/images/meatuphum.jpg" alt="">
        <p><a class="shop_title" href="/meatuphums">Meatophum</a></p>
    </div> 
    <div class="image">
        <img src="/assets/images/khmerfood.png" alt="">
        <p><a class="shop_title" href="/khmerfoods">Khmer Food</a></p>
    </div> 

</div>