
<% layout('layouts/boilerplate')%>
        <div class="form-popup" id="myForm">
            <form action="/login" method="POST" class="form-container" id="loginForm">
                <div class="form-header">
                    <h1>Login</h1>
                </div>
                <div class="form-content">
                    <div class="form-input">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                        <div class="invalid-feedback">
                            Username is required.
                        </div>
                    </div>
                    <div class="form-input">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                        <div class="invalid-feedback">
                            Password must be at least 8 characters and include one uppercase letter, lowercase letter, and special character.
                        </div>
                    </div>
                </div>
                <div class="form-bottom">
                    <button class="btn-login" type="submit">Login</button>
                    <p><a href="#" class="forgot-pass">Forget password?</a><a href="/register" class="sign-up"> Sign up</a></p>
                </div>
            </form>
        </div>
      <!-- Button trigger modal -->
        
    